html,
body {
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: "Helvetica";
}

.container {
  align-content: space-between;
  grid-row: 1;
  align-items: center;
}

.inner-container {
  margin: 0;
  max-width: 800px;
}

.footer {
  width: 100%;
  justify-content: space-around;
  margin-top: auto;
  grid-row: 2;
  align-self: end;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icons {
  max-width: 25px;
}

.card {
  align-self: center;
  width: 150px;
  height: 150px;
  box-shadow: 3px 3px 5px 5px #ccc;
  margin: 3px 3px 12px;
}

input {
  width: 50px;
  margin: 2px;
}

#white {
  background-color: #ffffff;
}

#red {
  background-color: #ff3030;
}

#green {
  background-color: #37ff21;
}
